.gallery-card-root-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: #faf9f5;
  box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 29%)
}

.dark .gallery-card-root-box {
  background-color: #151E2A;
}

.gallery-card-root-box p {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.gallery-card-content {
  padding: 15px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.gallery-card-content-name {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-family: 'poppins-medium';
  text-align: left;
  max-width: 60%;
}

.dark .gallery-card-content-name {
  color: #FFF;
}

.gallery-card-content-id-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.gallery-card-content-id-box span {
  font-family: 'poppins';
  font-size: 14px;
  color: #00000090;
  text-align: left;
}

.dark .gallery-card-content-id-box span {
  color: #FFFFFF90;
}

.gallery-card-content-id-box p {
  font-family: 'poppins-medium';
  font-size: 16px;
  color: #000;
  text-align: left;
}

.dark .gallery-card-content-id-box p {
  color: #FFFFFF;
}

.gallery-social-trait-box{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.gallery-social-items-box {
  display: flex;
  gap: 10px
}

.gallery-trait-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;

}

.gallery-trait-holder-box {
  border-radius: 20px;
  width: 26px;
  height: 26px;
  background-color: #FE2C85;
  padding: 2px;
}

.gallery-trait-holder-box img {
  height: 100%;
  width: auto;
}