.gallery-card-root-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: #faf9f5;
  box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 29%)
}

.dark .gallery-card-root-box {
  background-color: #101428;
}

.gallery-card-root-box p {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.gallery-card-image-holder {
  width: 100%;
  overflow: hidden;
}

.gallery-card-content {
  padding: 15px 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.gallery-card-content-general {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.gallery-card-content-name {
  font-size: 22px;
  line-height: 26px;
  color: #000;
  font-family: Poppins, 'poppins-semibold';
  font-weight: 500;
  text-align: left;
  /* min-height: 85px; */
}

.dark .gallery-card-content-name {
  color: #FFF;
}

.gallery-card-label-title {
  text-align: start !important;
  font-family: Bau, 'bau';
  font-size: 16px;
  color: #FE2C85;
  margin-bottom: 2px;
}

.gallery-card-flex-box {
  display: flex;
  justify-content: space-between;
  min-height: 72px;
}

.gallery-card-content-id-box p {
  font-family: Bau, 'bau';
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-align: left;
}

.price-container span {
  color: #00000090;
}

.dark .price-container span {
  color: #FFFFFF90;
}

.dark .gallery-card-content-id-box p {
  color: #F5F6FC;
}

.gallery-owner-box {
  display: flex;
  flex-direction: column;
}

.gallery-owner-box p {
  color: #000;
  font-family: Bau, 'bau';
}

.dark .gallery-owner-box p {
  color: #F5F6FC;
}

.gallery-owner-box p:hover {
  color: #FE2C85;
}

.gallery-card-price-holder {
  display: flex;
  flex-direction: column;
}

.gallery-price-box {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.gallery-price-box p {
  /* color: #FE2C85 !important; */
  color: #00000090;
  line-height: 18px;
  font-size: 16px;
  font-family: Bau, 'bau';
  font-weight: 600;
}

.dark .gallery-price-box p {
  color: #F5F6FC;
}

.gallery-card-token-symbol {
  height: 17px;
  width: auto;
}

.gallery-social-trait-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gallery-social-items-box {
  margin-bottom: 10px;
  display: flex;
  gap: 10px
}

.gallery-trait-container {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.gallery-trait-holder-box {
  /* border-radius: 20px; */
  border-radius: 5px;
  width: 26px;
  height: 26px;
  background-color: #030000;
  padding: 3px;
  overflow: hidden;
  /* border: 1px solid #FE2C85; */
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-trait-holder-box img {
  /* min-height: 28px; */
  width: 100%;
  height: auto;
}